$mainFont:'Frank Ruhl Libre', serif;
$secondaryFont: 'Didact Gothic', sans-serif;


$goldDark: rgb(153, 115, 0);
$goldMid: rgb(196, 180, 102);
$goldLight: rgb(247, 246, 238);
// $goldLight: rgb(240, 238, 221);

$phone:  400px;
$tablet: 700px;
$laptop: 1000px;
$desktop: 1400px;